body {
  background-color: antiquewhite;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header img {
  padding-left: 50%;
}

header a {
  text-decoration: none;
  color: #ff922c;
  background-color: #e3f988;
  padding: 16px;
  border-radius: 30px;
  opacity: 0.85;
}

header a:hover {
  opacity: 1;
}

.listOrder {
  margin-left: 420px;
  margin-right: 420px;
}

.title {
  padding-left: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
